@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Yeon+Sung&display=swap");

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    font-family: "Nanum Pen Script";
    min-height: 100vh;
    margin: 0px;
}

@media (min-width: 650px) {
    .App {
        width: 640px;
    }
}

@media (max-width: 650px) {
    .App {
        width: 90vw;
    }
}

#root {
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App {
    min-height: 100vh;
    padding: 0 20px;
}

/* MyButton */
.MyButton {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    font-size: 18px;
    white-space: nowrap;
}

.MyButton_default {
    background-color: #ececec;
    color: #000;
}
.MyButton_positive {
    background-color: #64c964;
    color: #fff;
}
.MyButton_negative {
    background-color: #fd565f;
    color: #fff;
}

/*  */
header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e2e2e2;
    padding: 20px 0;
}
header > div {
    display: flex;
}
header .head_text {
    width: 50%;
    font-size: 25px;
    justify-content: center;
}
header .head_btn_left {
    width: 25%;
    justify-content: start;
}
header .head_btn_right {
    width: 25%;
    justify-content: end;
}
header button {
    font-family: "Nanum Pen Script";
}

/* DiaryList */
.DiaryList .menu_wrapper {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 30px;
}
.DiaryList .menu_wrapper .right_col {
    flex-grow: 1;
}
.DiaryList .menu_wrapper .right_col button {
    width: 100%;
}
.DiaryList .ControlMenu {
    margin-right: 10px;
    padding: 10px 20px;
    font-family: "Nanum Pen Script";
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #ececec;
    cursor: pointer;
}

/* DiaryItem */
.DiaryItem {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid #e2e2e2;
}
.DiaryItem .emotion_img_wrapper {
    display: flex;
    justify-content: center;
    min-width: 120px;
    height: 80px;
    border-radius: 5px;
    cursor: pointer;
}
.DiaryItem .emotion_img_wrapper_1 {
    background-color: #64c964;
}
.DiaryItem .emotion_img_wrapper_2 {
    background-color: #9dd772;
}
.DiaryItem .emotion_img_wrapper_3 {
    background-color: #fdce17;
}
.DiaryItem .emotion_img_wrapper_4 {
    background-color: #fd8446;
}
.DiaryItem .emotion_img_wrapper_5 {
    background-color: #fd565f;
}
.DiaryItem .emotion_img_wrapper img {
    width: 50%;
}
.DiaryItem .info_wrapper {
    flex-grow: 1;
    margin-left: 20px;
    cursor: pointer;
}
.DiaryItem .diary_date {
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: bold;
}
.DiaryItem .diary_content_preview {
    font-size: 18px;
}
.DIaryItem .btn_wrappper {
    min-width: 70px;
}
/* DiaryEditor */
.DiaryEditor section {
    margin-bottom: 40px;
}
.DiaryEditor h4 {
    font-size: 22px;
    font-weight: bold;
}
.DiaryEditor .input-date {
    padding: 10px 20px;
    font-size: 20px;
    font-family: "Naumum Pen Script";
    border: none;
    border-radius: 5px;
    background-color: #ececec;
    cursor: pointer;
}
.DiaryEditor .emotion-list-wrapper {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 2%;
}
.DiaryEditor textarea {
    padding: 20px;
    width: 100%;
    min-height: 200px;
    font-size: 20px;
    font-family: "Nanum Pen Script";
    border: none;
    border-radius: 5px;
    background-color: #ececec;
    box-sizing: border-box;
    resize: vertical;
}
.DiaryEditor .control-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* EmotionItem */
.EmotionItem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
    border-radius: 5px;
    cursor: pointer;
}
.EmotionItem img {
    width: 50%;
    margin-bottom: 10px;
}
.EmotionItem span {
    font-size: 18px;
}
.EmotionItem_off {
    background-color: #ececec;
}
.EmotionItem_on_1 {
    background-color: #64c964;
    color: #fff;
}
.EmotionItem_on_2 {
    background-color: #9dd772;
    color: #fff;
}
.EmotionItem_on_3 {
    background-color: #fdce17;
    color: #fff;
}
.EmotionItem_on_4 {
    background-color: #fd8446;
    color: #fff;
}
.EmotionItem_on_5 {
    background-color: #fd565f;
    color: #fff;
}
